body {
    font-size: 1rem;
    font-family: '微软雅黑';
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.95;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #36538d;
}

p.logout {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #e9686b;
    text-align: center;
    transition: .2s ease-out;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 12%), 0px 1px 2px rgb(0 0 0 / 24%);
    font-family: '微软雅黑';
    border-radius: 5px;
}

.footer {
    font-size: 0.8rem;
}

.title {
    font-weight: 200;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.content {
    padding: 0;
}


.header{
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: flex-start;
}

.header .title {
    flex: 90%;
}

.logout-wrapper {

}

.comment-main{
    padding: 1rem 5rem;
    background: #ffffffad;
    border-radius: 5px;
}
.vhead {
    padding-bottom: 0.5rem;
}

.vhead a {
    font-weight: bolder;
    color: #333;
}

.spacer {
    color: #ccc;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.vtime {
    color: #a9a4a4;
    display: inline-block;
    padding: 0 5px;
}

.vcomment {
    line-height: 1.8;
}

.vcard {
    padding: 2rem 0 2rem 0;
    border-top: 1px solid #dedede;
}

.check {
    padding-top: 1rem;
    color: #33b1ff;
}

.sign-in-wrap {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: #738a94;
    font-weight: 100;
    text-align: center;
    align-items: center;
    margin-top: 6rem;
}

.gh-signin {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 350px;
    border: 1px solid #dae1e3;
    background: #ffffffd8;
    border-radius: 5px;
    text-align: left;
}

.gh-signin .form-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 700px;
    -webkit-user-select: text;
    user-select: text;
}

.sign-in-wrap input {
    padding: 10px;
    margin: 1rem 1rem;
    border: 1px solid #dae1e3;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 100;
    display: block;
    user-select: text;
    border-radius: 4px;
    transition: border-color .15s linear;
    -webkit-appearance: none;
    color: #4b5b62;
    -webkit-user-select: text;
}

.sign-in-wrap input:focus {
    border-color: #c4c8cb;
    outline: 0
}

.sign-in-wrap .login-button {
    padding: 8px 10px;
    cursor: pointer;
    background: #ce7973;
    border: .1rem solid #e7aeaf;
    border-radius: .2rem;
    color: #fff;
}

.red {
    color: #ee1000;
}

